* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Light mode */
.light-mode {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.4s ease;
}

/* Dark mode */
.dark-mode {
  background-color: #171717;
  color: #ffffff;
  transition: all 0.4s ease;
}
